body{
    text-align:center;
    max-width: 600px;
    margin:20px auto;
    background-color: rgb(163, 183, 183);
}
main{
    background-color: white;
    padding:20px;
    border-radius:10px;
}
.valueInbox{
    padding:10px 20px;
    background-color: #6943FF;
    color:white;

}
.valueConvert{
    background-color: antiquewhite;
    padding:5px 8px;
    margin:20px auto;
}
.value{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* margin:10px 0px; */
}
#input-value{
    margin:10px auto;
    width: 200px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}
#submitValue{
    padding:10px 15px;
font-size:1rem;
font-weight:600;
}
#submitValue:hover{
    background-color: rgb(104, 89, 255);
    color:white;
    cursor: pointer;
}